[user]
	email = zyla@prati.pl
	name = Maciej Bielecki
[alias]
	pyll = pull
	puhs = push
	pul = pull
	smash = stash
	vomit = commit
	vommit = commit
	st = status -s
	root = !pwd
	amd = commit --amend -C HEAD
	co = checkout
	ca = commit -a

	pu = !git push -u origin `git symbolic-ref HEAD`
	pu1 = !git push -u zyla `git symbolic-ref HEAD`
	pf = !git push origin +`git symbolic-ref HEAD`

	em = "!sh -c 'nvim `git status --porcelain | grep -e ^UU -e ^AA | head -n1 | sed s/^[UA][UA].//`'"
	
[color]
	ui = auto
[core]
	whitespace = space-before-tab
	excludesfile = /home/zyla/.gitignore_global
	editor = vim
	quotepath = false
[rerere]
	enabled = 1
	autoupdate = true
[pull]
	rebase = true
